body{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

body >h1{
    text-align: center;

}

.fancify-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 1rem;
    margin-top: 4rem;;
}

.fancify-cont >div{ 
    width: 100%; 
    padding: 0.5rem;
    border: 0.2rem solid var(--color-accent);
}

.fancify-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#fancy-textarea{
    font-size: 18pt;
}

.btn-cont{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.radio-btn{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}