main{
    display: grid;
    flex-direction: column;
}

#video-bg, article{
    grid-area: 1 / 1;
}

#video-bg{ 
    z-index: 0; 
    width: 100vw;
    height: auto;
}

article{
    z-index: 1;
    display: flex;
    flex-direction: column;
}

section.hero{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 80vh;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.hero .mythic-quest-logo{
    width: 50%;
    height: auto;
}

.hero-words{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1.5rem;
}

.hero-words h2, .hero-words p{
    text-align: center;
    color: var(--color-bg);
}

.hero-btns{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.hero-btns .btn-purchase{
    background: var(--color-primary);
    border: 0.1rem solid var(--color-primary-lite);
}
.hero-btns .btn-purchase:hover{ 
    background: var(--color-primary-lite); 
    border: 0.1rem solid var(--color-primary-lite);
    color: var(--color-accent);
}

.hero-btns .btn-learn:hover{
    background: var(--color-secondary);
    border: 0.1rem solid var(--color-secondary);
    color: var(--color-primary);
}

section.news{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0px;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        var(--color-primary) 30%
    );
}

.news-header{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 1rem 4rem;
    align-items: center;
}

.news-header h3{ color: var(--color-bg); }

.news-header button{
    background: transparent;
    padding: 1rem;
    font-weight: 500;
    color: var(--color-secondary);
    font-size: 1.5rem;
    transition: color 200ms ease-in;
}

.news-header button:hover{ color: var(--color-accent); }

.news-card-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.news-card{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 20vw;
    margin: 1rem;
    border: 0.1rem solid var(--color-secondary);
    background: var(--color-primary-lite);
    overflow: hidden;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.news-card:hover{ border: 0.1rem solid var(--color-accent); }
.news-card:hover div{ 
    border-top: 0.1rem solid var(--color-accent); 
    background: var(--color-primary-lite);
}
.news-card:hover .news-img{ 
    transform: scale(1.05); 
    filter: grayscale(0%);
}

.news-card .news-img{
    width: auto;
    height: fit-content;
    aspect-ratio: 16/9;
    z-index: 1;
    object-fit: cover;
    display: block;
    filter: grayscale(40%);
    transition: all 100ms ease-in;
}

.news-card div{
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    padding: 1rem;
    justify-content: space-between;
    height: 100%;
    border-top: 0.1rem solid var(--color-secondary);
    z-index: 2;
    overflow: hidden;
    transition: all 200ms ease-in;
}

.news-title{
    color: var(--color-secondary);
}

.news-date{
    color: var(--color-accent);
}